{% if product.available %}
{% for col in product.collections %}
{% if col.handle == 'new' %}
<div class="new">{{ 'products.general.new' | t }}</div>
{% endif %}
{% endfor %}
{% if product.price < product.compare_at_price %}
<div class="sale-item">{{ 'products.general.sale' | t }}</div>
{% endif %}
{% else %}
<div class="so">{{ 'products.general.sold' | t }}</div>
{% endif %}
<a href="{{ product.url | within: collection }}">  
  <img src="{{ product.images[0] | product_img_url: 'grande' }}" alt="{{ product.title | escape }}"/>
</a>              
<div id="product-info"> 
  <a href="{{ product.url | within: collection }}"> 
    {% if settings.vendor %}<p>{{ product.vendor }}</p>{% endif %}
    <h3>{{ product.title }}</h3>
  </a>
  <div class="price">
    {% if product.price < product.compare_at_price %}
    <div class="onsale">{{ product.price | money }}</div>
    <div class="was">{{ product.compare_at_price | money }}</div>
    {% else %}
    <div class="prod-price">{% if product.price_varies %} {{ 'products.general.from' | t }} {{ product.price_min | money }} - {{ product.price_max | money }} {% else %}{{ product.price | money }}{% endif %}</div>
    {% endif %}	
  </div>
</div>