<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" ng-app="showroomApp"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" ng-app="showroomApp"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" ng-app="showroomApp"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" ng-app="showroomApp"> <!--<![endif]-->
<head>

	<meta charset="utf-8" />

	{% include 'google-fonts' %}
	<!-- Basic Page Needs
================================================== -->

	<title>
		{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>
	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}" />
	{% endif %}
	<link rel="canonical" href="{{ canonical_url }}" />

	<meta name="product_type" content="{{ product.type }}" />
	<meta name="product_sku" content="{{ product.variants.first.sku }}" />

	{% include 'fb-open-graph-tags' %}
	{% include 'twitter-card' %}

	<!-- CSS
================================================== -->


	{{ 'stylesheet.css' | asset_url | stylesheet_tag }}
	{{ 'flexslider.css' | asset_url | stylesheet_tag }}
	{{ 'queries.css' | asset_url | stylesheet_tag }}
	{{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
	{{ 'font-awesome.css' | asset_url | stylesheet_tag }}
	{{ 'loading-bar.min.css' | asset_url | stylesheet_tag }}


	<!-- JS
================================================== -->

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	{{ 'theme.js' | asset_url | script_tag }}
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
	{{ 'jquery.flexslider.js' | asset_url | script_tag }}
	{{ 'select.js' | asset_url | script_tag }}
	{{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
	{{ 'jquery.mousewheel-3.0.6.pack.js' | asset_url | script_tag }}
	{{ 'jquery.easing.1.3.js' | asset_url | script_tag }}
	{{ 'jquery.placeholder.js' | asset_url | script_tag }}
	{{ 'jquery.fs.shifter.js' | asset_url | script_tag }}
	{{ 'jquery.cookie.js' | asset_url | script_tag }}

	{% if template contains 'product' %}
	{{ 'jquery.zoom.js' | asset_url | script_tag }}
	{% endif %}

	{% if template == 'index' %}
	{{ 'jquery.instagram.js' | asset_url | script_tag }}
	{% endif %}

	<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Favicons
================================================== -->

	<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">

	{% if template contains 'customers' %}
	{{ "shopify_common.js" | shopify_asset_url | script_tag }}
	{{ "customer_area.js"  | shopify_asset_url | script_tag }}
	{% endif %}

	{{ content_for_header }}

	{% if settings.popup %}
	<script type="text/javascript">
		if($(window).width() > 500){
			// Fancybox Join our mailing list popup
			$(document).ready(function(){

				$('#search').click(function(event) {
					$('#search, #searchPanel').toggleClass('expanded');
				});

				var check_cookie = $.cookie('mailing_list_popup');
				if(check_cookie == null){
					$.cookie('mailing_list_popup', 'expires_seven_days', { expires: 7 });
					//fire your fancybox here
					$.fancybox({
						href: "#subscribe_popup"
					});
				}
			});
		};
	</script>
	{% endif %}

</head>

<body class="gridlock shifter {{ template }}">
		<header id="header" class="bs-clearfix" ng-if="!removeHeader">
			<!-- <div class="row">
				<a sr-nav-href="/" class="mobile-brand bs-clearfix">
					<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}"><span class="shop-name">{{ shop.name }}</span>
				</a>
				<ul id="topNav" class="desktop-6 mobile-3">
					<li class="top-logo"><a sr-nav-href="/"><img src="{{ 'top-logo.png' | asset_url }}" alt="{{ shop.name }}"/></a></li>
					<li>
						 <a ng-click="goToLogin()" ng-if="!loggedIn">SIGN IN/UP</a>
						 <a href="" ng-if="loggedIn" ng-click="logout();">SIGN OUT</a>
					</li>
					<li><a href="/#/invite">INVITE FRIENDS</a></li>
					<li><a target="_blank" href="https://itunes.apple.com/GB/app/id787053829?mt=8">DOWNLOAD APP</a></li>
				</ul>
				<ul id="cart" class="desktop-6 mobile-3">
					<li class="cart-count">
						<a href="#">MESSAGES (0)</a>
					</li>
					<li class="cart-count">
						<a href="/cart">{{ 'layout.cart.my_cart' | t }} ({{ cart.item_count }})</a>
					</li>
				</ul>
				<span class="shifter-handle"><span>Menu</span></span>
			</div> -->

			<div id="header-brand">
				<a sr-nav-href="/">
					<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}"><span class="shop-name">{{ shop.name }}</span>
				</a>
			</div>

			<div id="navigation" class="tablet-hidden">
				<ul>
					 <li><a href="/#/">Home</a></li>
					 <li><a href="/#/featured">Featured</a></li>
					 <li><a href="/#/popular">Popular</a></li>
					 <li><a href="/#/newest">Newest</a></li>
					 <li class="parent" sr-toggle toggle-class="active"><a href="">Category</a>
						<ul class="bs-clearfix">
							<li ng-repeat="channel in channels | orderBy:'displayIndex'"><a ng-href="/#/category/{[{channel.id}]}">{[{channel.name}]}</a></li>
						</ul>
					 </li>
					 <li ng-if="loggedIn"><a href="/#/myshow">My shows</a></a></li>
					 <li>
					 	<a href="" id="search" rel="nofollow" title="Search"><i class="fa fa-search fa-lg fa-fw"></i></a>
					 	<!-- <div id="searchPanel" class="desktop-12 mobile-12" ng-controller="SearchFormController">
							<form name="userSearchForm" novalidate ng-submit="searchUser()">
								<input type="text" name="q" placeholder="Search account" ng-model="userKeywords">
							</form>
							<form name="showSearchForm" novalidate ng-submit="searchShow()">
								<input type="text" name="q" placeholder="Search Product, Brand, Show title" ng-model="showKeywords">
							</form>
						</div> -->
			 		 </li>
				</ul>
			</div>

			<div id="notify" class="tablet-hidden">
				<a ng-click="goToLogin()" ng-if="!loggedIn"><i class="fa fa-sign-in fa-fw"></i>Login/Join</a>
				<a href="" ng-if="loggedIn" ng-click="logout();"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
			</div>

			<span class="shifter-handle"><span>Menu</span></span>
		</header><!-- End Header -->

		<div class="shifter-page">
			<div id="content" class="row">
				<div class="desktop-12 mobile-3" id="nav-border" ng-show="showNav"></div>
				<!-- Hide Breadcrumbs from homepage -->
				{% if template != "index" %}
				{% if settings.breadcrumb %}
				{% include 'breadcrumb' %}
				{% endif %}
				{% endif %}
				{{ content_for_layout }}
			</div>

			<!-- End Content -->

			<div id="footer" class="row" ng-if="!removeFooter">
				<div id="footer-border" class="desktop-12 tablet-6 mobile-3">
				</div>

				<!-- <ul class="desktop-3 tablet-half mobile-3">
					<h4>{{ 'layout.footer.links_1_title' | t }}</h4>
					{% for link in linklists[settings.footer-1].links %}
					<li>{{ link.title | link_to: link.url }}</li>
					{% endfor %}
				</ul>
				<ul class="desktop-3 tablet-half mobile-3">
					<h4>{{ 'layout.footer.links_2_title' | t }}</h4>
					{% for link in linklists[settings.footer-2].links %}
					<li>{{ link.title | link_to: link.url }}</li>
					{% endfor %}
				</ul>
				<ul class="desktop-3 tablet-half mobile-3">
					<h4>{{ 'layout.footer.links_3_title' | t }}</h4>
					{% for link in linklists[settings.footer-3].links %}
					<li>{{ link.title | link_to: link.url }}</li>
					{% endfor %}
				</ul>
				<ul class="desktop-3 tablet-half mobile-3">
					<h4>{{ 'layout.footer.social_and_email_title' | t }}</h4>
					<li>{% include 'mailing' %}
					<li class="icons">
						{% if settings.show_instagram %}<a href="{{ settings.instagram_url }}" target="_blank"><i class="fa fa-instagram"></i></a>{% endif %}
						{% if settings.show_facebook %}<a href="{{ settings.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>{% endif %}
						{% if settings.show_twitter %}<a href="http://www.twitter.com/{{ settings.twittername }}" target="_blank"><i class="fa fa-twitter"></i></a>{% endif %}
						{% if settings.show_pinterest %} <a href="{{ settings.pinterest_url }}" target="_blank"><i class="fa fa-pinterest"></i></a>{% endif %}
						{% if settings.show_tumblr %} <a href="{{ settings.tumblr_url }}" target="_blank"><i class="fa fa-tumblr"></i></a>{% endif %}
						{% if settings.show_youtube %} <a href="{{ settings.youtube_url }}" target="_blank"><i class="fa fa-youtube"></i></a>{% endif %}
						{% if settings.show_googleplus %} <a href="{{ settings.googleplus_url }}" target="_blank"><i class="fa fa-google-plus"></i></a>{% endif %}
						{% if settings.show_wordpress %} <a href="{{ settings.wordpress_url }}" target="_blank"><i class="fa fa-wordpress"></i></a>{% endif %}
					</li>
				</ul> -->

				<div id="payment" class="desktop-12 mobile-3">
					{% if settings.american_express %}<img src="{{ 'amex.png' | asset_url }}"/>{% endif %}
					{% if settings.dankort %}<img src="{{ 'dankort.png' | asset_url }}"/>{% endif %}
					{% if settings.diners %}<img src="{{ 'diners.png' | asset_url }}"/>{% endif %}
					{% if settings.discover %}<img src="{{ 'discover.png' | asset_url }}"/>{% endif %}
					{% if settings.forbru %}<img src="{{ 'forbru.png' | asset_url }}"/>{% endif %}
					{% if settings.google %}<img src="{{ 'googlecheckout.png' | asset_url }}">{% endif %}
					{% if settings.jcb %}<img src="{{ 'jcb.png' | asset_url }}">{% endif %}
					{% if settings.maestro %}<img src="{{ 'maestro.png' | asset_url }}"/>{% endif %}
					{% if settings.mastercard %}<img src="{{ 'mastercard.png' | asset_url }}"/>{% endif %}
					{% if settings.paypal %}<img src="{{ 'paypa.png' | asset_url }}"/>{% endif %}
					{% if settings.solo %}<img src="{{ 'solo.png' | asset_url }}"/>{% endif %}
					{% if settings.visa %}<img src="{{ 'visa.png' | asset_url }}"/>{% endif %}
					<br />
					<p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name }} </p>
				</div>
			</div>

	{% include 'popup' %}

	</div>
	<nav class="shifter-navigation bs-clearfix">
		<ul>
			 <li class="search-form bs-clearfix" ng-controller="SearchFormController">
		 		<form name="userSearchForm" novalidate ng-submit="searchUser()">
					<input type="text" name="q" placeholder="Search account" ng-model="userKeywords">
					<i class="fa fa-search fw"></i>
				</form><form name="showSearchForm" novalidate ng-submit="searchShow()">
					<input type="text" name="q" placeholder="Search Product, Brand, Show title" ng-model="showKeywords">
					<i class="fa fa-search fw"></i>
				</form>
			 </li>
			 <li ng-hide="loggedIn"><a sr-nav-href ng-click="goToLogin()"><i class="fa fa-sign-in fa-fw"></i>Sign In</a></li>
			 <li><a sr-nav-href="/"><i class="fa fa-home fa-fw"></i>Home</a></li>
			 <li><a sr-nav-href="/featured"><i class="fa fa-star fa-fw"></i>Featured</a></li>
			 <li><a sr-nav-href="/popular"><i class="fa fa-thumbs-up fa-fw"></i>Popular</a></li>
			 <li><a sr-nav-href="/newest"><i class="fa fa-fire fa-fw"></i>Newest</a></li>
			 <li><a><i class="fa fa-list-alt fa-fw"></i>Category</a>
				<ul>
					<ul>
						<li ng-repeat="channel in channels | orderBy:'displayIndex'">
							<a sr-nav-href="/category/{[{channel.id}]}">
								<i class="fa fa-caret-right fa-fw"></i>
 								{[{channel.name}]}
							</a>
						</li>
					</ul>
				</ul>
			 </li>
			 <li ng-show="loggedIn"><a sr-nav-href="/myshow"><i class="fa fa-play fa-fw"></i>My shows</a></li>
			 <li ng-show="loggedIn"><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i>Sign out</a></li>
		 </ul>
	</nav>

	<div id="fb-root"></div>

	<!-- Begin Recently Viewed Products -->
	<script type="text/javascript" charset="utf-8">
		//<![CDATA[

		// Including jQuery conditionnally.
		if (typeof jQuery === 'undefined') {
			document.write({{ "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" | script_tag | json }});
			document.write('<script type="text/javascript">jQuery.noConflict();<\/script>');
		}

		// Including api.jquery.js conditionnally.
		if (typeof Shopify.resizeImage === 'undefined') {
			document.write({{ "api.jquery.js" | shopify_asset_url | script_tag | json }});
		}

		//]]>
	</script>

	{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
	{{ 'jquery.products.min.js' | asset_url | script_tag }}

	{% if template contains 'product' %}

	<script type="text/javascript" charset="utf-8">
		//<![CDATA[

		Shopify.Products.recordRecentlyViewed();

		//]]>

		$('input, textarea').placeholder();

	</script>

	{% endif %}

	<!-- End Recently Viewed Products -->


<script>
	 window.fbAsyncInit = function() {
			FB.init({
				 appId      : '516034861793763',
				 xfbml      : true,
				 version    : 'v2.4'
			});
	 };

	(function(d, s, id){
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/sdk.js";
		 fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>


	{% include 'ajaxify-cart' %}
	{% include 'currencies' %}

	{{ 'angular.min.js' | asset_url | script_tag }}
	{{ 'angular-route.min.js' | asset_url | script_tag }}
	{{ 'angular-cookies.min.js' | asset_url | script_tag }}
	{{ 'angular-animate.min.js' | asset_url | script_tag }}
	{{ 'loading-bar.min.js' | asset_url | script_tag }}
	{{ 'app.min.js' | asset_url | script_tag }}
</body>
</html>
