{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

{% paginate article.comments by 20 %}

<div id="article-body" class="desktop-9 mobile-3">
  <h1>{{ article.title }}</h1>
    {% assign published_at = article.published_at | date: format: 'month_date_year' %}
  <p>{{ 'blogs.article.posted_on_date_html' | t: date: published_at }}</p>

  {{ article.content }}
  {% include 'social' with article %}

  {% if blog.comments_enabled? %}
  <div id="comments">
    <h4>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h4>


    <ul>
      {% for comment in article.comments %}
      <li>
        <div class="comment-details">
          {{ comment.author }}: {{ comment.created_at | date: "%B %d, %Y" }}
        </div>
        <div class="gravatar desktop-1 mobile-1">
          <img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" />
        </div>
        <div class="comment desktop-11 mobile-2">
          {{ comment.content }}
        </div>
      </li>
      {% endfor %}
    </ul>


    <div id="pagination">
      {% if paginate.previous %}
      {{ '<' | link_to: paginate.previous.url }}
      {% endif %}
      {% for part in paginate.parts %}
      {% if part.is_link %}
      {{ part.title | link_to: part.url }}
      {% else %}
      {% if part.title == '&hellip;' %}
      {{ part.title }}
      {% else %}
      <span class="current">{{ part.title }}</span>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if paginate.next %}
      {{ '>' | link_to: paginate.next.url }}
      {% endif %}
    </div>

    <!-- Comment Form -->
        <div id="comment-form">
          {% form article %}
          <h5>{{ 'blogs.comments.title' | t }}</h5>
          <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
          {% if form.posted_successfully? %}
          	{% if blog.moderated? %}
          		<div class="notice">
            		{{ 'success_moderated' | t }}
          		</div>
          	{% else %}
          		<div class="notice">{{ 'success' | t }}</div>
          	{% endif %}
          {% endif %}

          {% if form.errors %}
          <div class="notice error">{{ 'general.forms.post_error' | t }}</div>
          {% endif %}


         <dl>
            <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">{{ 'blogs.comments.name' | t }}</label></dt>
            <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="{% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

            <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">{{ 'blogs.comments.email' | t }}</label></dt>
            <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

            <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">{{ 'blogs.comments.message' | t }}</label></dt>
            <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
          </dl>

          {% if blog.moderated? %}
          <p class="hint">{{ 'blogs.comments.moderated' | t }}</p>
          {% endif %}

          <input type="submit" value="{{ 'blogs.comments.post' | t }}" />
          {% endform %}
    </div>
  </div>
  {% endif %}


</div>


<div id="sidebar" class="desktop-3 mobile-3">
  <h3>{{ 'blogs.sidebar.title' | t }}</h3>
  <ul id="posts">
    {% for article in blog.articles  %}
    <li><a href="{{article.url}}">{{ article.title }}</a>
      <p>{{ article.published_at | date: "%b %d %Y" }}</p>
      <p>{{ article.content | strip_html | truncate: 140 }}</p>
    </li>
    {% endfor %}
    <h3 style="margin: 20px 0">{{ 'blogs.sidebar.title' | t }}</h3>
    {% for tag in blog.all_tags %}
    <li class="tags">
      <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
    </li>
    {% endfor %}
  </ul>
</div>


{% endpaginate %}
