


{% if settings.layout-choose == 'standard-layout' %}

<div id="left-images" class="desktop-7 mobile-3">
  <a href="{{ settings.homepage-left-1-url }}"><img src="{{ 'hompage-left-1.jpg' | asset_url }}" alt="{{ settings.homepage-left-1-alt }}"></a>
  <a href="{{ settings.homepage-left-2-url }}"><img src="{{ 'hompage-left-2.jpg' | asset_url }}" alt="{{ settings.homepage-left-2-alt }}" class="last"></a>
</div>

<div id="right-images" class="desktop-5 mobile-3">
  <a href="{{ settings.homepage-right-1-url }}"><img src="{{ 'hompage-right-1.jpg' | asset_url }}" alt="{{ settings.homepage-right-1-alt }}"></a>
  <a href="{{ settings.homepage-right-2-url }}"><img src="{{ 'hompage-right-2.jpg' | asset_url }}" alt="{{ settings.homepage-right-2-alt }}"></a>
  <a href="{{ settings.homepage-right-3-url }}"><img src="{{ 'hompage-right-3.jpg' | asset_url }}" alt="{{ settings.homepage-right-3-alt }}" class="last"></a>
</div>

{% elsif settings.layout-choose == 'slideshow' %}

<div id="homepage1" class="desktop-12">
  <div class="flexslider">
    <ul class="slides">
      <li><a href="{{ settings.slide1_url }}"><img src="{{ 'slide1.jpg' | asset_url }}" alt="{{shop.name}}" /></a></li>
      {% if settings.slide-2-check %}<li><a href="{{ settings.slide2_url }}"><img src="{{ 'slide2.jpg' | asset_url }}" alt="{{ settings.slide1_alt }}" /></a></li>{% endif %}
      {% if settings.slide-3-check %}<li><a href="{{ settings.slide3_url }}"><img src="{{ 'slide3.jpg' | asset_url }}" alt="{{ settings.slide2_alt }}" /></a></li>{% endif %}
      {% if settings.slide-4-check %}<li><a href="{{ settings.slide4_url }}"><img src="{{ 'slide4.jpg' | asset_url }}" alt="{{ settings.slide3_alt }}" /></a></li>{% endif %}
      {% if settings.slide-5-check %}<li><a href="{{ settings.slide5_url }}"><img src="{{ 'slide5.jpg' | asset_url }}" alt="{{ settings.slide5_alt }}" /></a></li>{% endif %}
      {% if settings.slide-6-check %}<li><a href="{{ settings.slide6_url }}"><img src="{{ 'slide6.jpg' | asset_url }}" alt="{{ settings.slide6_alt }}" /></a></li>{% endif %}
      {% if settings.slide-7-check %}<li><a href="{{ settings.slide7_url }}"><img src="{{ 'slide7.jpg' | asset_url }}" alt="{{ settings.slide7_alt }}" /></a></li>{% endif %}
      {% if settings.slide-8-check %}<li><a href="{{ settings.slide8_url }}"><img src="{{ 'slide8.jpg' | asset_url }}" alt="{{ settings.slide8_alt }}" /></a></li>{% endif %}
      {% if settings.slide-9-check %}<li><a href="{{ settings.slide9_url }}"><img src="{{ 'slide9.jpg' | asset_url }}" alt="{{ settings.slide9_alt }}" /></a></li>{% endif %}
      {% if settings.slide-10-check %}<li><a href="{{ settings.slide10_url }}"><img src="{{ 'slide10.jpg' | asset_url }}" alt="{{ settings.slide10_alt }}" /></a></li>{% endif %}           
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      directionNav: true
    });
  });
</script>

{% endif %}


<div class="clear"></div>

{% if settings.homepage-products %}
<div id="homepage-products" ng-app="myApp" ng-controller="myCtrl">
  
  <!--My code-->
  
  <h2><span>Popular</span></h2>
  
  <ul class="product-loop"  style="width: 100%">
    <li ng-repeat="video in popularVideos" class="show desktop-4 tablet-half mobile-full">
      <div class="show-wrapper">
        <videogular vg-theme="theme" vg-player-ready="video.onPlayerReady($API)" ng-mouseover="video.play()">
          <vg-media vg-src="video.sources" vg-preload="video.preload"></vg-media>
          <vg-poster vg-url='video.poster'></vg-poster>
        </videogular>     
        <div class="product-info bs-clearfix">
          <span class="product-title" title="{[{popularProducts[$index].name}]}">{[{popularProducts[$index].name | excerptTitle:37:'...' }]}</span>
          <span class="product-price">{[{popularProducts[$index].price | currency : $ : 2}]}</span>
        </div>
        <div class="product-action bs-clearfix">
          <a class="pull-left" href="#"  ng-click="videos[0].onPlayReady()">
            <span ng-bind="video.likeCounter"></span>
            <span class="fa fa-thumbs-up"></span>
          </a>
          <a class="pull-left" href="/pages/test?url=http://google.com.vn"  ng-click="videos[0].onPlayReady()">
            <span ng-bind="video.commentCounter"></span>
            <span class="fa fa-comments"></span>
          </a>
          <a href="{[{(popularProducts[$index].metaData | jsonParse).url | productLink}]}" target="{[{(popularProducts[$index].metaData | jsonParse).url | productTarget}]}" class="pull-right" >
            <span class="fa fa-shopping-cart"></span>
            SHOP
          </a>
        </div>
      </div>
    </li>
  </ul>
  
  <div class="bs-clearfix"></div>
  
  <h2><span>Newest</span></h2>
  
  <ul class="product-loop"  style="width: 100%">
    <li ng-repeat="video in newestVideos" class="show desktop-4 tablet-half mobile-full">
      <div class="show-wrapper">
        <videogular vg-theme="theme" vg-player-ready="video.onPlayerReady($API)" ng-mouseover="video.play()">
          <vg-media vg-src="video.sources" vg-preload="video.preload"></vg-media>
          <vg-poster vg-url='video.poster'></vg-poster>
        </videogular>     
        <div class="product-info bs-clearfix">
          <span class="product-title" title="{[{newestProducts[$index].name}]}">{[{(newestProducts[$index].name | excerptTitle:37:'...') }]}</span>
          <span class="product-price">{[{newestProducts[$index].price | currency : $ : 2}]}</span>
        </div>
        <div class="product-action bs-clearfix">
          <a class="pull-left" href="#"  ng-click="videos[0].onPlayReady()">
            <span ng-bind="video.likeCounter"></span>
            <span class="fa fa-thumbs-up"></span>
          </a>
          <a class="pull-left" href="/pages/test?url=http://google.com.vn"  ng-click="videos[0].onPlayReady()">
            <span ng-bind="video.commentCounter"></span>
            <span class="fa fa-comments"></span>
          </a>
          <a href="{[{(newestProducts[$index].metaData | jsonParse).url | productLink}]}" target="{[{(newestProducts[$index].metaData | jsonParse).url | productTarget}]}" class="pull-right" >
            <span class="fa fa-shopping-cart"></span>
            SHOP
          </a>
        </div>
      </div>
    </li>
  </ul>
  
 <!-- end My code -->
  
</div>
<div class="clear"></div>
{% endif %}


{% if settings.promo %}
  <div id="promo-images">
    <div class="desktop-6 tablet-half mobile-3">
      <a href="{{ settings.leftlink }}"><img src="{{ 'leftpromo.jpg' | asset_url }}" alt="{{ shop.name }}" style="border: 0;"/></a>
    </div>
    
    <div class="desktop-6 tablet-half mobile-3">
      <a href="{{ settings.rightlink }}"><img src="{{ 'rightpromo.jpg' | asset_url }}" alt="{{ shop.name }}" style="border: 0;"/></a>
    </div>
  </div>
  
  <div class="clear"></div>  
  
  {% endif %}


{% if settings.homepage-collections %}
<div id="homepage-collections">
  
  
  {% if settings.homepage-collection-title ==  blank %}
  <h2><span>{{ 'layout.homepage.collections_title' | t }}</span></h2>
  {% else %}
  <h2><span>{{ settings.homepage-collections-title }}</span></h2>
  {% endif %}

  
  <ul id="collection-loop" style="width: 100%">
   {% for link in linklists[settings.home-collection-linklist].links %}
      {% assign collection = link.object %}
    <li class="product desktop-4 mobile-half" data-alpha="{{ collection.title }}">  
      {% for col in product.collections %}
      {% if col.handle == 'new' %}
      <div class="new"></div>
      {% endif %}
      {% endfor %}
      {% if product.price < product.compare_at_price %}
      <div class="sale-item"></div>
      {% endif %}   
      <div class="collection-image">
        <a href="{{ collection.url }}" title="{{ collection_title }}">
          {% if collection.image %}
          {{ collection.image.src | collection_img_url: 'grande' | img_tag: collection_title }}
          {% else %}
          {{ collection.products.first.featured_image | product_img_url: 'grande' | img_tag: collection_title }}
          {% endif %}
        </a>     
      </div>
      
      <div id="product-info">
        <a href="{{ collection.url }}" title="Browse our {{ collection_title }} collection">
          <h3>{{ collection.title }}<br />{{ collection.products_count }} {{ 'collections.general.items' | t }}</h3>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>	
  
</div>
<div class="clear"></div>
{% endif %}



{% if settings.homepage-articles %}
<div id="homepage-blog">
  
  {% if settings.homepage-collection-title ==  blank %}
  <h2><span>{{ 'layout.homepage.blog_title' | t }}</span></h2>
  {% else %}
  <h2><span>{{ settings.homepage-blog-title }}</span></h2>
  {% endif %}
  
  <ul id="featured-posts">
    {% for article in blogs[settings.homepage-blog].articles limit: 3 %}
    <li class="desktop-4 mobile-3">
      <a href="{{ article.url }}">
        <h3 class="text-center">{{ article.title }}</h3>
      </a>
      {% assign published_at = article.published_at | date: format: 'month_date_year' %}
      <p class="date text-center">{{ 'blogs.article.posted_on_date_html' | t: date: published_at }}</p> 
      {% if article.excerpt != blank %}
      <div id="homepage-excerpt"> 
        {{ article.excerpt }}                                    
      </div>
      {% endif %}
      <div id="homepage-content">
        
        <p>{{ article.content | strip_html | truncate: 140 }}</p>
        <div class="text-left"><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
          
          {% if blog.comments_enabled? %}
          <div class="text-right">
            <a href="{{article.url}}#comments">{{ article.comments_count }} {{ 'blogs.article.comments' | t }}</a>
          </div>
          {% endif %}
          
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  
  
</div>
<div class="clear"></div>
{% endif %}

{% if settings.show-instagram-feed %}
<div id="follow-us">
  
  <h2>
    <span>{{ 'layout.homepage.instagram' | t }}</span>
  </h2>
  
  {% if settings.show-instagram-feed %}    
  {% assign url = '{{image}}' %}
  {% assign caption = '{{caption}}' %}
  <div id="instagram-card">
    <div id="instafeed"></div>
    <script type="text/javascript">
      var userFeed = new Instafeed({
        get: 'user',
        userId: {{ settings.instagram-user-id }},
                                   accessToken: '{{ settings.instagram-access-token }}',
                                   template: '<a class="fancybox desktop-2 mobile-half padded" href="{{url}}" rel="ig" title="{{ caption }}"><img class="instagram-image" src="{{ url }}" /></a>'
                                   });
      userFeed.run();        
    </script>
  </div>
  {% endif %}  
  
  
</div>
{% endif %}